/* CSS样式 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}

.container {
    text-align: center;
}

.sudoku-board {
    display: grid;
    grid-template-columns: repeat(9, 80px); /* Change to 80px */ 
    grid-template-rows: repeat(9, 80px); /* Change to 80px */
    border: 3px solid #333;
    width: 720px; /* 9 * 80px */
    height: 720px; /* 9 * 80px */
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

.sudoku-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px; /* Font size is 40px */
    font-family: Arial, sans-serif;
    border: 2px solid #ccc; /* Border width is 2px */
    background-color: white;
}

.sudoku-cell:not(:first-child) {
    border-top: none; /* Remove top border */
}

.sudoku-cell:nth-child(3n) {
    border-right: 4px solid #333; /* Change to a thicker border */
}

.sudoku-cell:nth-child(n+19):nth-child(-n+27), 
.sudoku-cell:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 4px solid #333; /* Change to a thicker border */
}

.sudoku-cell:nth-child(3n+1) {
    border-left: none;
}

.sudoku-cell:nth-child(9n) {
    border-right: none;
}

.sudoku-cell:nth-last-child(-n+9) {
    border-bottom: none;
}

.sudoku-cell:first-child {
    border-top: none;
}

#error-count {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 2em;
}

#play-again {
    display: none; /* Initially hidden */
    position: fixed; /* Fixed position */
    top: 50%; /* Center vertically */
    left: 12%; /* Center horizontally */
    transform: translate(-55%, -50%); /* Adjust for the button's own dimensions */
    padding: 20px 50px; /* Increase padding */
    font-size: 2em; /* Increase font size */

    background-color: #007BFF; /* Background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    /* background-color: transparent; */
    opacity: 0.5; /* Make the entire button semi-transparent */
}

#play-again:hover {
    background-color: #0056b3; /* Darker background on hover */
}

.champion-image {
    display: none; /* Initially hidden */
    position: fixed; /* Fixed position */
    top: 52%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the image's own dimensions */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}